@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(175,231,221);
    overflow-x: hidden;
}
nav{
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
.nav-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}
.logo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.logo span{
    color: #23947b;
    text-shadow: 0 0 10px #23947b;
}
.hamburg,
.cancel{
    cursor: pointer;
    color: white;
    display: none;
    font-size: 2.5rem;
}
.nav-container .links{
    display: flex;
    gap: 20px;
}
.nav-container .links a{
    font-size: 1.2rem;
    color: rgb(33, 99, 83);
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
    position: relative;
}
.nav-container .links a::before{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: rgb(13, 184, 161);
    transition: 0.2s linear;
}
.nav-container .links a:hover::before{
    width: 100%;
}
.nav-container .links a:hover{
    color: rgb(26, 197, 174);
}
section{
    width: 100%;
    padding-top: 10vh;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
    padding: 20px;
}
.main-container .image{
    max-width: 400px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 50px rgb(0, 255, 221);
}
.main-container .image img{
    width: 100%;
    display: block;
}
.main-container .content{
    color: white;
    max-width: 600px;
}
.content h1{
    font-size: 2rem;
}
.content h1 span{
    color: #26a388;
    text-shadow: 0  0 10px #00ffdd;
}
.content .typewriter{
    font-size: 2rem;
    font-weight: 600;
}
.content p{
    font-size: 1rem;
    margin: 10px 0;
}
.social-links{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.social-links i{
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #002c28;
    border-radius: 50%;
    color: #00413b;
    font-size: 1.5rem;
    transition: 0.2s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-links i:hover{
    transform: scale(1.1);
    color: black;
    background-color: #23947b;
    box-shadow: 0 0 10px #23947b;
}
.content button{
    padding: 10px 20px;
    background-color: #23947b;
    color: white;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.2s linear;
    cursor: pointer;
}
.content button:hover{
    transform: scale(1.1);
    color: #08d4db;
    border: 2px solid #23947b;
    background-color: transparent;
    box-shadow: 0 0 40px #23947b;
}
@media (max-width: 884px) {
    .hamburg{
        display: block;
    }
    .nav-container .links{
        display: none;
    }
    .main-container{
        flex-direction: column;
        text-align: center;
    }
    .main-container .image{
        width: 60%;
    }
}
@media (max-width: 440px){
    .main-container .image{
        width: 80%;
    }
    .content button{
        width: 100%;
    }
}
